.images{
  margin: 90px 100px;
}

.images img{
  filter: grayscale(80%);
  transition: .5s;
  padding:50px;
}

.images img:hover{
  filter:grayscale(0);
  transform:scale(1.1)
}

 #openimage{
  display: none;
  position: fixed;
  width:100%;
  height:100%
 }

 #openimage.active{
   display:flex;
   align-items:center;
 }
